/* reset css */
* {
  /* margem = externa */
  margin: 0;
  box-sizing: border-box;
}


body {
  /* cor fundo */
  background-color: rgb(51, 38, 54);
  /* cor texto */
  color: rgb(255, 255, 255);
}

/* seletor para os <A> */
a {
  /* propiedade e valor */
  text-decoration: none;
  color: rgb(255, 255, 255);
}





/* header = cabeçalho */
header {
  /* row linha horizontal */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c2549;
  /* largura ou comprimento */
  width: 100%;

}

/* UL */
.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* tag NAV*/
.menu-desktop {
  display: none;
}

/* daqui para cima versao mobile */

/* responsivo */
/* serve para telas maiores */
/* telas maiores que 768px */

@media(min-width: 768px) {

  header {
   /* espaço interno */
    padding:1rem 6rem;
    justify-content: ;
    gap: ;
  }

  /* NAV */
  .menu-desktop {
    display: flex;
  }
}



  
  